<div class="container">

  <button class="btn btn-danger" ng-click="logout()">Logout</button>

  <div>{{tableBeingViewed}}</div>
  <div>{{tableSize}}</div>

  <h3>List of tables</h3>
  <div ng-repeat="table in dbtables">
    {{table["Tables_in_production"]}} | <span ng-click="showTableSize(table.table)">Show size</span> | <span>Show contents</span>
  </div>
    
  <div class="admin-dashboard" style="background: #FFF; padding: 20px">

    <form ng-submit="startDownload()">
      <h1>Start tweet stream, download into database</h1>
      <div class="form-group">
        <label for="stream-download-rate">Stream download rate</label>
        <input type="number" class="form-control" ng-model="streamDownloadRate">
      </div>
      <button class="btn btn-success">Start!</button>
    </form>
    
    <br>
    <button class="btn btn-danger" ng-click="stopDownload()">Stop!</button>

    <hr>

    <h1>Layers</h1>

    <form ng-submit="addNewLayer()">
      <h4>Add new layer to database</h4>
      <div class="form-group">
        <label for="add-new-layer">New keyword</label>
        <input type="text" class="form-control" ng-model="newLayerInput">
      </div>
      <button class="btn btn-success">Add Layer</button>
    </form>

    <hr>

    <form ng-submit="redoLayer()">
      <h4>Redo Layer</h4>
      <div class="form-group">
        <label for="redo-layer">Layer to be redone</label>
        <input type="text" class="form-control" ng-model="redoLayerInput">
      </div>
      <button class="btn btn-success">Redo Layer</button>
    </form>

    <hr>


    <form ng-submit="deleteLayer()">
      <h4>Delete layer from database</h4>
      <div class="form-group">
        <label for="add-new-layer">Delete this layer</label>
        <input type="text" class="form-control" ng-model="deleteLayerInput">
      </div>
      <button class="btn btn-danger">Delete Layer</button>
    </form>

    <hr>

    <h1>Keywords</h1>

    <form ng-submit="addNewKeyword()">
      <h4>Add new keyword to database</h4>
      <div class="form-group">
        <label for="add-new-keyword">New keyword</label>
        <input type="number" class="form-control" ng-model="newKeywordInput">
      </div>
      <button class="btn btn-success">Add Keyword</button>
    </form>

    <hr>

    <form ng-submit="redoKeyword()">
      <h4>Redo keyword</h4>
      <div class="form-group">
        <label for="redo-keyword">Redo keyword</label>
        <input type="number" class="form-control" ng-model="redoKeywordInput">
      </div>
      <button class="btn btn-success">Redo Keyword</button>
    </form>

    <hr>

    <form ng-submit="deleteKeyword()">
      <h4>Delete keyword from database</h4>
      <div class="form-group">
        <label for="add-new-keyword">Delete this keyword</label>
        <input type="number" class="form-control" ng-model="deleteKeywordInput">
      </div>
      <button class="btn btn-danger">Delete Keyword</button>
    </form>
  </div>

  <hr>

    <h1>Database</h1>

    <form ng-submit="addNewDatabase()">
      <h4>Add new database</h4>
      <div class="form-group">
        <label for="add-new-database">New database name</label>
        <input type="number" class="form-control" ng-model="newDatabaseInput">
      </div>
      <button class="btn btn-success">Add Database</button>
    </form>

    <hr>

    <form ng-submit="changeToDatabase()">
      <h4>Change to database</h4>
      <div class="form-group">
        <label for="change-to-database">Change to database</label>
        <input type="number" class="form-control" ng-model="changeToDatabaseInput">
      </div>
      <button class="btn btn-success">Change to Database</button>
    </form>

    <hr>

    <form ng-submit="deleteDatabase()">
      <h4>Delete database</h4>
      <div class="form-group">
        <label for="delete-database">Delete database</label>
        <input type="number" class="form-control" ng-model="deleteDatabaseInput">
      </div>
      <button class="btn btn-danger">Delete Database</button>
    </form>
  </div>


  <div class="download-status" style="background: #FFF; padding: 10px; text-align: center; margin-top: 15px">
    {{tweetAdded}}
  </div>
</div>