node_modules
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
server/config/twitter-config.js
server/database/database-config-1.js
server/config/twitter_CH_private.js
server/auth/adminlogin/adminloginsecret.js