<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container about-container keywords-list-container">

  <!-- <div class="spinner-container">
    <img src="../assets/images/spinner.gif" alt="spinner">
    <p>Loading stats...</p>
  </div> -->

  <div class="all-tweets-stats">
    <h1>All tweets: {{totalSentiment.count}}</h1>
    <div class="alert alert-success sentiment-percentage" style="width: {{totalSentiment.positiveSentiment}}%">{{totalSentiment.positiveSentiment}}%</div>
    <div class="alert alert-danger sentiment-percentage" style="width: {{totalSentiment.negativeSentiment}}%">{{totalSentiment.negativeSentiment}}%</div>
  </div>
  
  <h1>Our keywords</h1>

  <div class="our-keyword-section" ng-repeat="ourKeyword in ourKeywords">
    <h2>{{ourKeyword.keyword}} - {{ourKeyword.count}} tweets</h2><br>
    <div class="alert alert-success sentiment-percentage" style="width: {{ourKeyword.positiveSentiment}}%">{{ourKeyword.positiveSentiment}}%</div>
    <div class="alert alert-danger sentiment-percentage" style="width: {{ourKeyword.negativeSentiment}}%">{{ourKeyword.negativeSentiment}}%</div>
  </div>

  <h1>User keywords</h1>

  <div class="our-keyword-section" ng-repeat="userKeyword in userKeywords">
    <div>{{userKeyword.name}}</div>
    <h2>{{userKeyword.purchased_keyword}} - {{userKeyword.count}} tweets</h2>
  </div>
  
</div>
