<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container about-container keywords-list-container">

  <h1>Tweets count: {{totalSentiment.count}}</h1>
  <h2>Positive sentiment: {{totalSentiment.positiveSentiment}}%</h2>
  <h2>Negative sentiment: {{totalSentiment.negativeSentiment}}%</h2>
  
  <h1>Our keywords</h1>

  <ul ng-repeat="ourKeyword in ourKeywords">
    <li>{{ourKeyword.keyword}} - {{ourKeyword.count}}, Positive: {{ourKeyword.positiveSentiment}} | Negative: {{ourKeyword.negativeSentiment}}</li>
  </ul>

  <h1>User keywords</h1>

  <ul ng-repeat="userKeyword in userKeywords">
    <li>{{userKeyword.name}} - {{userKeyword.purchased_keyword}} - {{userKeyword.count}}</li>
  </ul>
  
</div>
