
<div class="viewport">
{{tweetTest}}
<header>
  <img src="../assets/images/logo.png" alt="crowd-parser-logo" id="world">
</header>
</div>

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="starting-section-container">
  <h1>We downloaded a million tweets...</h1>

  <div class="display-band tweets-continuous-display">
    <div ui-view></div>
  </div>

  <h2>Analyzed their feelings...</h2>

  <div class="display-band tweets-feelings-display">
    <div class="tweets-sentiment">
      <div class="queries-container">
        <div class="queries-container-heading">Viewing tweets for trending topic: <strong>{{displayedQuery}}</strong></div>
        <em>Choose another trending topic:</em><br>
        <div class="other-queries" ng-repeat="trend in trendingArray" ng-click="newDisplayedQuery(trend.name)">{{trend.name}}&nbsp;&nbsp;&nbsp;</div>
        <div class="customized-query">
          <input type="text" placeholder="Choose another topic" ng-model="twitterRestSearchQuery"><button class="btn btn-default" ng-click="getTwitterRestSearch()">Submit</button>
        </div>
      </div>
      <div class="tweet-sentiment">

        <div class="tweet-username">{{allLayers.username}} ({{allLayers.followers_count}} followers)</div>
        <div ng-bind-html="allLayers.text" class="tweet-text"></div>
        
        <hr>

        <div class="tweet-layer-results">
          <div class="layer-heading">Common Words Layer</div> 
          <div class="sentiment-score {{allLayers.baseLayerResults.score > 0 ? 'positive-score' : allLayers.baseLayerResults.score < 0 ? 'negative-score' : 'neutral-score'}}">{{allLayers.baseLayerResults.score}}</div>
          <img src="{{allLayers.baseLayerResults.score > 0 ? '../assets/images/positivesmiley.png' : allLayers.baseLayerResults.score < 0 ? '../assets/images/negativesmiley.png' : '../assets/images/neutralsmiley.png'}}" class="sentiment-image">
        </div>

        <div class="tweet-layer-results">
          <div class="layer-heading">Emoticon Layer</div> 
          <div class="emoticon-pos-neg"><strong>Positive:</strong> {{allLayers.emoticonLayerResults.positiveWords.join(', ') || 'n/a'}} | <strong>Negative:</strong> {{allLayers.emoticonLayerResults.negativeWords.join(', ') || 'n/a'}}</div>
          <div class="sentiment-score {{allLayers.emoticonLayerResults.score > 0 ? 'positive-score' : allLayers.emoticonLayerResults.score < 0 ? 'negative-score' : 'neutral-score'}}">{{allLayers.emoticonLayerResults.score}}</div>
          <img src="{{allLayers.emoticonLayerResults.score > 0 ? '../assets/images/positivesmiley.png' : allLayers.emoticonLayerResults.score < 0 ? '../assets/images/negativesmiley.png' : '../assets/images/neutralsmiley.png'}}" class="sentiment-image">
        </div>

        <div class="overall-sentiment">
          <div class="layer-heading">Overall Sentiment</div> 
          <div class="sentiment-score {{allLayers.overallResults.score > 0 ? 'positive-score' : allLayers.overallResults.score < 0 ? 'negative-score' : 'neutral-score'}}">{{allLayers.overallResults.score}}</div>
          <img src="{{allLayers.overallResults.score > 0 ? '../assets/images/positivesmiley.png' : allLayers.overallResults.score < 0 ? '../assets/images/negativesmiley.png' : '../assets/images/neutralsmiley.png'}}" class="sentiment-image">
        </div>

        <button class="btn btn-info" ng-click="nextTweet()">Next</button>
      </div>

    </div>
  </div>

  <h3>And discovered...</h3>

  <div class="display-band tweets-discovery-display">
    Visual of discoveries
  </div>

  <h1>And now it's your turn.</h1>

  <div class="user-section search-section">
    <div class="user-section-icon"><i class="fa fa-search"></i></div>
    <h2>Search</h2>
  </div>
  <div class="user-section rate-section">
    <div class="user-section-icon"><i class="fa fa-star-half-o"></i></div>
    <h2>Rate</h2>
  </div>
  <div class="user-section share-section">
  <div class="user-section-icon"><i class="fa fa-share-alt"></i></div>
    <h2>Share</h2>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Crowd Parser |
         <a href="https://github.com/crowd-parser/crowd-parser/issues" target="_blank">Issues</a></p>
  </div>
</footer>