header {
    text-align: center;
    margin-top: -20px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.app-section {
    background: #F2F2F2;
    display: inline-block;
    width: 48%;
    padding: 10px;
    border: 1px solid #000;
}

.tweet-sentiment {
    border: 1px solid #000;
}