<div class="display-band tweets-feelings-display">
  <div class="tweets-sentiment">
    <div class="queries-container">
      <div class="queries-container-heading">Viewing tweets for trending topic: <strong>{{displayedQuery}}</strong></div>
      <em>Choose another trending topic:</em><br>
      <div class="other-queries" ng-repeat="trend in trendingArray" ng-click="newDisplayedQuery(trend.name)">{{trend.name}}&nbsp;&nbsp;&nbsp;</div>
      <div class="customized-query">
        <input type="text" placeholder="Choose another topic" ng-model="twitterRestSearchQuery"><button class="btn btn-default" ng-click="getTwitterRestSearch()">Submit</button>
      </div>
    </div>
    <div class="tweet-sentiment">

      <div class="tweet-username">{{allLayers.username}} ({{allLayers.followers_count}} followers)</div>
      <div ng-bind-html="allLayers.text" class="tweet-text"></div>
      
      <div class="tweet-layer-results">
        <div class="layer-heading">Common Words Layer</div> 
        <div class="sentiment-score {{allLayers.baseLayerResults.score > 0 ? 'positive-score' : allLayers.baseLayerResults.score < 0 ? 'negative-score' : 'neutral-score'}}">{{allLayers.baseLayerResults.score}}</div>
        <img src="{{allLayers.baseLayerResults.score > 0 ? '../assets/images/positivesmiley.png' : allLayers.baseLayerResults.score < 0 ? '../assets/images/negativesmiley.png' : '../assets/images/neutralsmiley.png'}}" class="sentiment-image">
      </div>

      <div class="tweet-layer-results">
        <div class="layer-heading">Emoticon Layer</div> 
        <div class="emoticon-pos-neg"><strong>Positive:</strong> {{allLayers.emoticonLayerResults.positiveWords.join(', ') || 'n/a'}} | <strong>Negative:</strong> {{allLayers.emoticonLayerResults.negativeWords.join(', ') || 'n/a'}}</div>
        <div class="sentiment-score {{allLayers.emoticonLayerResults.score > 0 ? 'positive-score' : allLayers.emoticonLayerResults.score < 0 ? 'negative-score' : 'neutral-score'}}">{{allLayers.emoticonLayerResults.score}}</div>
        <img src="{{allLayers.emoticonLayerResults.score > 0 ? '../assets/images/positivesmiley.png' : allLayers.emoticonLayerResults.score < 0 ? '../assets/images/negativesmiley.png' : '../assets/images/neutralsmiley.png'}}" class="sentiment-image">
      </div>

      <div class="overall-sentiment">
        <div class="layer-heading">Overall Sentiment</div> 
        <div class="sentiment-score {{allLayers.overallResults.score > 0 ? 'positive-score' : allLayers.overallResults.score < 0 ? 'negative-score' : 'neutral-score'}}">{{allLayers.overallResults.score}}</div>
        <img src="{{allLayers.overallResults.score > 0 ? '../assets/images/positivesmiley.png' : allLayers.overallResults.score < 0 ? '../assets/images/negativesmiley.png' : '../assets/images/neutralsmiley.png'}}" class="sentiment-image">
      </div>

      <button class="btn btn-info" ng-click="nextTweet()">Next Tweet</button> 
      <button class="btn btn-warning">Disagree? Help us out!</button>
    </div>

  </div>
</div>