header {
    background: #FFF;
    text-align: center;
    padding: 40px 0;
}

header img {
    width: 85%;
    max-width: 700px;
}

.viewport {
    background: #FFF;
}

#world div {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;  
  -o-transform-style: preserve-3d;  
  transform-style: preserve-3d;
}

.starting-section-container {
    background: #FCFFF5;
    text-align: center;
    padding-top: 20px;
}

.starting-section-container h3 {
    color: #193441;
}


.display-band {
    color: #FFF;
    min-height: 250px;
    margin-top: 40px;
    padding: 22px;
}

h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 67px;
}

.in-3d {
    color: #91AA9D;
    font-size: 70px;
    font-weight: 100;
}

.click-to-begin-band {
    background: #3E606F;
    margin-top: 50px;
    padding: 35px 0;
}

.click-to-begin {
    background: #FFF;
    font-size: 17px;
}