.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    padding: 40px 0;
    z-index: 1;
}

.main img {
    width: 85%;
    max-width: 500px;
}

.learn-more {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #EEEFF7;
    font-size: 20px;
}

.learn-more:hover {
    color: #92CDCF;
    text-decoration: none;
}

.intro {
    background: #000;
    background: rgba(0,0,0,.4);
    color: #EEEFF7;
    margin: 40px 15%;
    padding: 20px;
    border: 10px solid #FFF;
    border: 10px solid rgba(255,255,255,.7);
}

.we-downloaded {
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 15px;
}

.our-discoveries {
    font-size: 24px;
}

.in-3d {
    color: #FFF;
    font-size: 40px;
    font-weight: 100;
    line-height: 1em;
    margin-top: 20px;
}

.click-to-begin {
    background: #EEEFF7;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 25px;
    padding: 5px 14px;
    border-radius: 0;
}

.click-to-begin:hover {
    background: #000;
    color: #EEEFF7;
}

.viewport {
    background: #FFF;
    cursor: move;
}

#world div {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;  
  -o-transform-style: preserve-3d;  
  transform-style: preserve-3d;
}

@media (max-width: 100px) {
    .intro {
        margin-top: 22px;
    }
    .main img {
        width: 95%;
    }
    .intro {
        margin-left: 0;
        margin-right: 0;
        border-left: 0;
        border-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}