<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container about-container checkout-container">

  <!--
  *
  *
  * Information about purchasing keywords. Hidden after purchase and replaced with dashboard view. 
  *
  *
  -->

  <div class="checkout-info" ng-hide="purchasingUser">
    <h1>Add personalized keywords <br>to our keywords list!</h1>

    <div class="info-band">
      <div class="info-quarter">
        <div>Add new keywords to our master keyword list! We will search through and analyze our millions of tweets for each of your keywords.</div>
        <i class="fa fa-upload info-icon"></i>
      </div><!--

      --><div class="info-quarter">
        <div>Show the world the keywords you added to our list. Your name will appear next to each of your keywords on the 3D page.</div>
        <i class="fa fa-star-o info-icon"></i>
      </div><!--

      --><div class="info-quarter">
        <div>Discover how the Twitter-world feels about your keywords. Do more people feel positively or negatively about them?</div>
        <i class="fa fa-meh-o info-icon"></i>
      </div><!--

      --><div class="info-quarter">
        <div>Explore and enjoy your keyword results with our informative and fun 3D display.</div>
        <i class="fa fa-cubes info-icon"></i>
      </div>
    </div>
  </div>
  

  <!--
  *
  *
  * Facebook login button. Hidden after user logs in.
  *
  *
  -->
  
  <div class="fb-login-container" ng-show="!loggedIn">
    <div id="fb-status">Please log in to purchase.</div>
      <button ng-click="fbLogin()" class="fb-login-button-custom"><i class="fa fa-facebook"></i> Log in with Facebook</button>
  </div>

  <!--
  *
  *
  * Stripe checkout form. Shown after login and hidden if user has purchased a keyword. 
  *
  *
  *
  -->

  <form stripe-form="stripeCallback" class="stripe-form" ng-show="loggedIn && !purchasingUser" onsubmit="return false">

    <h2>Purchase Keywords</h2>

    <div class="purchase-options" ng-init="selectedOption;">
      <div class="purchase-option" ng-class="{'active-option':selectedOption === 1}" ng-click="selectOption(1, $('.option-1'))" onclick="return false">
        <h3>1 <br>keyword</h3>
        <h4>$2</h4>
      </div><!--
      --><div class="purchase-option option-5" ng-class="{'active-option':selectedOption === 5}" ng-click="selectOption(5, this)" onclick="return false">
        <h3>5 <br>keywords</h3>
        <h4>$8</h4>
      </div><!--
      --><div class="purchase-option ten-keywords option-10" ng-class="{'active-option':selectedOption === 10}" ng-click="selectOption(10, this)" onclick="return false">
        <h3>10 <br>keywords</h3>
        <h4>$15</h4>
      </div>
    </div>

    <input class="form-control stripe-input" type="text" ng-model="purchasingUsername" placeholder="Name" required />
    <p>This name will be displayed next to your keywords.</p>

    <input class="form-control stripe-input" type="email" ng-model="purchasingEmail" placeholder="Email" required />

    <input class="form-control stripe-input" type="email" ng-model="repeatPurchasingEmail" placeholder="Confirm email" required />
    <p>We hate spam.</p>

    <input class="form-control stripe-input card-input" ng-model="number" placeholder="0000 0000 0000 0000" payments-format="card" payments-validate="card" /><br>
    <input class="form-control stripe-input expiry-input" ng-model="expiry" placeholder="MM/YY" payments-format="expiry" payments-validate="expiry" /><!--
    --><input class="form-control stripe-input cvc-input" ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-format="cvc" required />

    <div class="alert alert-danger stripe-error" style="display: none"></div>

    <button type="submit" class="btn btn-primary stripe-submit">secure checkout</button>

    <img src="assets/images/stripe-secure.png" alt="stripe-secure">
  </form>

  <!-- 
  *
  *
  * Dashboard for users who have purchased keywords. 
  *
  *
  -->

  <div ng-show="purchasingUser" class="purchasing-user-container">
    <h1>Hello, {{purchasingUserDetails.name}}!</h1>

    <div class="user-keywords">
      <h2>My keywords:</h2> 
      <span class="{{keyword.finished_processing === 'true' ? 'user-keyword' : 'user-keyword-unfinished'}}" ng-repeat="keyword in purchasingUserKeywords">{{keyword.purchased_keyword}}</span>

      <br><br>
      <div>
        <a href="/3dstream">View my keyword results in 3D!</a>
        <p>Note: It can take some time to process keywords through millions of tweets, <br>
        so if you don't see your keyword on the 3D page, check back again a little later. <br>
        Thanks for understanding!</p>

        <span class="user-keyword user-keyword-key">processed</span> <span class="user-keyword-unfinished user-keyword-key">not finished processing</span>
      </div>
    </div>

    <h3>Number of keywords remaining: {{purchasingUserDetails.number_of_keywords}}</h3>

    <form onsubmit="return false" ng-submit="userKeywordSubmit()" ng-hide="purchasingUserDetails.number_of_keywords <= 0">
      <input type="text" class="form-control" ng-model="userKeywordInput" placeholder="Add a new keyword" required />
      <button class="btn btn-primary keyword-submit">Submit</button>
    </form>

    <hr>

    <div class="share-keywords">
      <h2>Share the keywords you've added!</h2>

      <a class="sbg-button sbg-button-facebook"  data-sbg-network="facebook"  data-sbg-url="https://crowdparser.org"  data-sbg-title="Crowd Parser"  data-sbg-summary="Look at the keywords I added to Crowd Parser!"  data-sbg-image="http://i288.photobucket.com/albums/ll175/michaelcheng429/crowdparserlogogh_zpshipsbtrg.png"  data-sbg-width="600"  data-sbg-height="368" >
        <i class="sbg-button-icon fa fa-facebook"></i>
      </a>

      <a class="sbg-button sbg-button-twitter"  data-sbg-network="twitter"  data-sbg-text="Look at the keywords I added to Crowd Parser! https://crowdparser.org/3dstream http://bit.ly/1eUSMZO"  data-sbg-via=""  data-sbg-hashtags=""  data-sbg-width="600"  data-sbg-height="258" >
        <i class="sbg-button-icon fa fa-twitter"></i>
      </a>

      <a class="sbg-button sbg-button-google-plus"  data-sbg-network="google-plus"  data-sbg-url="https://crowdparser.org/3dstream"  data-sbg-width="500"  data-sbg-height="505" >
        <i class="sbg-button-icon fa fa-google-plus"></i>
      </a>
    </div>
  </div>

  <!--
  *
  *
  * Stripe checkout form for purchasing users. Shown when user runs out of keywords. 
  *
  *
  *
  -->

  <form stripe-form="stripeCallback" class="stripe-form" ng-show="purchasingUserDetails.number_of_keywords <= 0" onsubmit="return false">

    <div class="alert alert-warning">
      Out of keywords! Would<br>
      you like to purchase more?
    </div>

    <h2>Purchase Keywords</h2>

    <div class="purchase-options" ng-init="selectedOption;">
      <div class="purchase-option" ng-class="{'active-option':selectedOption === 1}" ng-click="selectOption(1, $('.option-1'))" onclick="return false">
        <h3>1 <br>keyword</h3>
        <h4>$2</h4>
      </div><!--
      --><div class="purchase-option option-5" ng-class="{'active-option':selectedOption === 5}" ng-click="selectOption(5, this)" onclick="return false">
        <h3>5 <br>keywords</h3>
        <h4>$8</h4>
      </div><!--
      --><div class="purchase-option ten-keywords option-10" ng-class="{'active-option':selectedOption === 10}" ng-click="selectOption(10, this)" onclick="return false">
        <h3>10 <br>keywords</h3>
        <h4>$15</h4>
      </div>
    </div>

    <input class="form-control stripe-input card-input" ng-model="number" placeholder="0000 0000 0000 0000" payments-format="card" payments-validate="card" /><br>
    <input class="form-control stripe-input expiry-input" ng-model="expiry" placeholder="MM/YY" payments-format="expiry" payments-validate="expiry" /><!--
    --><input class="form-control stripe-input cvc-input" ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-format="cvc" required />

    <div class="alert alert-danger stripe-error" style="display: none"></div>

    <button type="submit" class="btn btn-primary stripe-submit">secure checkout</button>

    <img src="assets/images/stripe-secure.png" alt="stripe-secure">
  </form>

  <h1>Support</h1>

  <p>If you have any questions, feel free to contact us at any time by using the email link below!</p>

  <a href="mailto:cheng.c.mike@gmail.com" target="_top">Email</a>
  
</div>