.fb-login-button-custom {
  background: #3B5998;
  color: #FFF;
  font-size: 20px;
  padding: 2px 9px;
  border: 0;
}

.fb-login-button-custom:hover {
  background: #466AB6;
}

.checkout-container {
  padding-left: 0;
  padding-right: 0;
}

.stripe-form {
  display: inline-block;
  background: #FFF;
  font-size: 24px;
  padding: 30px 20px;
  border-radius: 15px;
}

.stripe-form h2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 30px;
}

.stripe-form p {
  color: #000;
  font-size: 13px;
}

.info-band {
  margin: 40px 0 20px 0;
  padding: 10px 15px;
}

.info-quarter {
  display: inline-block;
  width: 50%;
  padding: 15px;
}

.info-icon {
  color: #445878;
  font-size: 100px;
  margin-top: 20px;
}

.purchase-options {
  margin-bottom: 40px;
}

.purchase-option {
  transition: background .5s, color .5s;
  display: inline-block;
  background: #FFF;
  color: #92CDCF;
  width: 31%;
  height: 120px;
  padding: 15px;
  padding-top: 0px;
  margin-right: 5px;
  border: 1px solid #B6ADBF;
  border-radius: 50%;
  cursor: pointer;
}

.purchase-option:hover, .active-option {
  background: #92CDCF;
  color: #FFF;
  border: 0;
}

.ten-keywords {
  margin-right: 0;
}

.stripe-icon {
  border: 1px solid #CCC;
  padding: 6px 12px;
}

.stripe-form input {
  font-size: 24px;
}

.stripe-form .stripe-submit {
  display: block;
  color: #FFF;
  background: #445878;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 0;
}

.stripe-form img {
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 40px;
}

.stripe-input {
  height: 50px;
  margin: 0 auto;
}

.ng-invalid {
    color: red;
}

.card-input {
  display: inline-block;
  width: 264px;
}

.expiry-input {
  display: inline-block;
  width: 132px;
  margin-bottom: 15px;
}

.cvc-input {
  display: inline-block;
  width: 132px;
  margin-bottom: 15px;
}

.purchasing-user-container input {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 8px;
}

.user-keywords {
  background: #FFF;
  padding: 20px;
  padding-top: 1px;
  margin: 20px 0;
}

.user-keyword {
  background: #92CDCF;
  color: #FFF;
  font-size: 30px;
  padding: 6px 14px;
  margin: 12px;
  border-radius: 6px;
}

.keyword-submit {
  display: block;
  color: #FFF;
  background: #445878;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 0;
}

.share-keywords {
  font-size: 50px;
  margin-bottom: 20px;
}