<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container about-container checkout-container">

  <div class="checkout-info" ng-hide="purchasingUser">
    <h1>Add personalized keywords <br>to our keywords list!</h1>

    <div class="info-band">
      <div class="info-quarter">
        <div>Add new keywords to our master keyword list! We will search through and analyze our millions of tweets for each of your keywords.</div>
        <i class="fa fa-upload info-icon"></i>
      </div><!--

      --><div class="info-quarter">
        <div>Show the world the keywords you added to our list. Your name will appear next to each of your keywords on the 3D page.</div>
        <i class="fa fa-star-o info-icon"></i>
      </div><!--

      --><div class="info-quarter">
        <div>Discover how the Twitter-world feels about your keywords. Do more people feel positively or negatively about them?</div>
        <i class="fa fa-meh-o info-icon"></i>
      </div><!--

      --><div class="info-quarter">
        <div>Explore and enjoy your keyword results with our informative and fun 3D display.</div>
        <i class="fa fa-cubes info-icon"></i>
      </div>
    </div>
  </div>
  

  <!--
    Below we include the Login Button social plugin. This button uses
    the JavaScript SDK to present a graphical Login button that triggers
    the FB.login() function when clicked.
  -->
  
  <div class="fb-login-container" ng-show="!loggedIn">
    <div id="fb-status">Please log in to purchase.</div>
      <button ng-click="fbLogin()">Log in with Facebook</button>
  </div>


  <form stripe-form="stripeCallback" class="stripe-form" ng-show="loggedIn && !purchasingUser" onsubmit="return false">
    <h2>Purchase Keywords</h2>

    <div class="purchase-options" ng-init="selectedOption;">
      <div class="purchase-option" ng-class="{'active-option':selectedOption === 1}" ng-click="selectOption(1, $('.option-1'))" onclick="return false">
        <h3>1 <br>keyword</h3>
        <h4>$2</h4>
      </div><!--
      --><div class="purchase-option option-5" ng-class="{'active-option':selectedOption === 5}" ng-click="selectOption(5, this)" onclick="return false">
        <h3>5 <br>keywords</h3>
        <h4>$8</h4>
      </div><!--
      --><div class="purchase-option ten-keywords option-10" ng-class="{'active-option':selectedOption === 10}" ng-click="selectOption(10, this)" onclick="return false">
        <h3>10 <br>keywords</h3>
        <h4>$15</h4>
      </div>
    </div>

    <input class="form-control stripe-input" type="text" ng-model="purchasingUsername" placeholder="Name">
    <p>This name will be displayed next to your keywords.</p>

    <input class="form-control stripe-input" type="text" ng-model="purchasingEmail" placeholder="Email">
    <p>We hate spam.</p>

    <input class="form-control stripe-input card-input" ng-model="number" placeholder="0000 0000 0000 0000" payments-format="card" payments-validate="card" /><br>
    <input class="form-control stripe-input expiry-input" ng-model="expiry" placeholder="MM/YY" payments-format="expiry" payments-validate="expiry" /><!--
    --><input class="form-control stripe-input cvc-input" ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-format="cvc" />

    <button type="submit" class="btn btn-primary stripe-submit">secure checkout</button>

    <img src="assets/images/stripe-secure.png" alt="stripe-secure">
  </form>

  <div ng-show="purchasingUser">
    <h1>Purchasing User Dashboard</h1>

    <div>Name: {{purchasingUserDetails.name}}</div>
    <div>Number of keywords remaining: {{purchasingUserDetails.number_of_keywords}}</div>

    <form onsubmit="return false" ng-submit="userKeywordSubmit()">
      <input type="text" class="form-control" ng-model="userKeywordInput" placeholder="add a keyword">
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
  
</div>