<div class="3d-display">
  <div id="container-3d"></div>

  <div id="menu-3d">
    <div class="layer-menu">
      <table>
      <tr class="layer-menu-title" ng-click="toggleLayerMenu()"> <td colspan="3">Show/Hide Layers</td> </tr>
      <tr ng-show="showLayerMenu"> <td>Layer</td> <td>ON</td> <td>SOLO</td> </tr>
      <tr class="layer-menu-item" ng-repeat="layer in layers" ng-show="showLayerMenu">
        <td>{{layer.title}}</td>
        <td><input type="checkbox" ng-model=layersVisible[layer.title].viz ng-change="clearSolo()"></td>
        <td><input type="checkbox" ng-model=layersVisible[layer.title].solo ng-change="soloLayer(layer.title)"></td></tr>
      </table>
    </div>
    <button class="button-3d bottom-button" id="flatten-separate-3d" ng-click="toggleFlatten();">{{flattenText}} All Layers</button>
    <button class="button-3d bottom-button" type="notSubmit" ng-click="autoScrollToggle()">Autoscroll: {{autoScroll}}</button>
  </div>


<!--   <div class="arrow-3d" id="leftarrow-3d">
    <button class="button-3d" id="left-3d"><span>&lt;</span></button>
  </div>
  <div class="arrow-3d" id="rightarrow-3d">
    <button class="button-3d" id="right-3d"><span>&gt;</span></button>
  </div> -->


  <div class="keyword-form-3d form-inline">
    <div class="form-holder">
      <form>
        <input type="text" class="form-control" ng-model="keywordStream" placeholder="enter a keyword">

        <button ng-class="{ 'button-3d-disabled': grayedOut(), 'button-3d': !grayedOut() }" ng-disabled="grayedOut()" type="notSubmit" ng-click="requestTweetsByKeyword(keywordStream)">Search Database</button>
        <button class="button-3d" type="notSubmit" ng-click="getRestTweets()">Get {{numTweetsToGet}} New Tweets</button>
        <button class="button-3d" type="notSubmit" ng-click="startLiveStream()">Live Stream: {{receivingTweets}}</button>
        <button class="button-3d" type="notSubmit" ng-click="streamFakeTweets()">Fake Tweets (Stream)</button>
        <button class="button-3d" type="notSubmit" ng-click="batchFakeTweets()">Fake Tweets (All)</button>
      </form>
    </div>
  </div>
</div>