body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}

canvas {  }

.3d-display {
  background-color: #000;
  position: static;
}
.mini-3d-display {
  position: relative;
  background-color: #000;
  height: 300px;
}

#container-3d {
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mini-container-3d  {
  background-color: #000000;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#menu-3d {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

#mini-menu-3d {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

#leftarrow-3d {
  position: absolute;
  left: 30px;
  height: 100%;
}

#rightarrow-3d {
  position: absolute;
  right: 130px;
  height: 100%;
}

#mini-leftarrow-3d {
  position: absolute;
  top: 50px;
  left: 30px;
  height: 200px;
}

#mini-rightarrow-3d {
  position: absolute;
  top: 50px;
  right: 130px;
  height: 200px;
}

.keyword-form-3d {
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 50px;
  width: 100%;
  margin: auto;
}

.mini-keyword-form-3d {
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 20px;
  margin: 0;
}

.keyword-form-3d label {
  color: rgba(0,200,255,0.75);
  margin-right: 10px;
}

.keyword-form-3d input {
  margin-right: 10px;
}

.ribbon-3d {
  position: absolute;
  background-color: transparent;
/*  width: 10000px;*/
/*  background-color: rgba(0,132,180,0.25);*/
}

.layer-title {
  position: absolute;
/*    left: 4000px;*/
  font-size: 80px;
  color: rgba(0,150,210,0.75);
}

#mini-container-3d .ribbon-3d {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,132,180,0.25);
}

  #mini-container-3d .ribbon-3d .layer-title {
    position: absolute;
    top: 20px;
/*    left: 4000px;*/
    font-size: 55px;
    font-weight: 300;
    color: rgba(0,132,180,0.75);
  }

.tweet-3d {
  position: absolute;
  width: 300px;
  height: 140px;
  box-shadow: 0px 0px 20px rgba(0,180,255,0.75);
  border: 2px solid rgba(0,132,180,1);
  cursor: pointer;
  padding: 2px;
}

.tweet-3d:hover {
  box-shadow: 0px 0px 20px rgba(0,225,255,1);
  border: 2px solid rgba(0,200,255,0.75);
}

  .tweet-3d .username {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: rgba(0,132,180,1);
  }

  .tweet-3d .colorUsername {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: rgba(0,190,250,1);
  }

  .tweet-3d .tweetText {
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: rgba(20,20,20,0.75);
  }

  .tweet-3d .colorTweetText {
    position: absolute;
    top: 40px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: rgba(225,225,225,0.75);
  }

/*    -webkit-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    -moz-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    -o-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    -ms-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));
    filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.95));*/


  .tweet-3d .score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    text-align: right;
    color: rgba(0,132,180,1);
  }
  .tweet-3d .colorScore {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    text-align: right;
    color: rgba(0,190,250,1);
  }

.tweet-3d-lod-low {
  position: absolute;
  width: 140px;
  height: 140px;
}

.button-3d {
  color: rgba(127,220,255,0.75);
  background: rgba(0,40,50,0.75);
  outline: 1px solid rgba(0,200,255,0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}
.button-3d:hover {
  background-color: rgba(0,120,160,0.75);
  color: rgba(180,220,255,1);
  outline: 1px solid rgba(180,220,255,1);
}
.button-3d:active {
  color: #000000;
  background-color: rgba(0,190,255,0.75);
}

.layer-menu {
  position: relative;
  width: 200px;
  color: rgba(127,220,255,0.75);
  background: rgba(0,40,50,0.75);
  outline: 1px solid rgba(0,200,255,0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}
.layer-menu table {
  width: 100%;
}
.layer-menu-title {
  position: relative;
  width: 100%;
  color: rgba(127,220,255,0.75);
  background: rgba(0,40,50,0.75);
}
.layer-menu-title:hover {
  background-color: rgba(0,120,160,0.75);
  color: rgba(180,220,255,1);
}
.layer-menu-title:active {
  color: #000000;
  background-color: rgba(0,190,255,0.75);
}

.layer-menu td {
  padding: 0 5px;
}

.layer-menu-item {
  color: rgba(127,220,255,0.75);
  background: rgba(0,40,50,0.75);
  outline: 1px solid rgba(0,200,255,0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

.arrow-3d .button-3d {
  margin: auto;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0; left: 0; bottom: 0; right: 0;
  color: rgba(10,10,10,0.75);
  font-size: 80px;
  padding: 0px 0 12px 0;
  background: rgba(127,200,255,0.35);
  border-radius: 50px;
  border: 2px solid rgba(127,200,255,0.75);
  font-weight: bold;
  outline: none;
  line-height: 0.35em;
  box-shadow: 0px 0px 20px rgba(0,180,255,0.5);
}
.arrow-3d .button-3d:hover {
  background-color: rgba(150,220,255,0.5);
  border: 2px solid rgba(200,230,255,0.8);
  box-shadow: 0px 0px 20px rgba(0,180,255,0.75);
}
.arrow-3d .button-3d:active {
  color: #000000;
  background-color: rgba(150,220,255,0.75);
  border: 2px solid rgba(200,230,255,1);
  box-shadow: 0px 0px 20px rgba(0,180,255,0.5);
}

.negative-word {
  font-weight: bold;
  color: rgb(180,0,0);
}

.positive-word {
  font-weight: bold;
  color: rgb(0,180,0);
}