<div class="3d-display">
  <div id="container-3d"></div>

  <div class="keyword-form-3d form-inline">
    <div class="form-holder">
      <form>
        <div class="form-group">
          <label for="keyword-stream">Keyword</label>
          <input type="text" class="form-control" ng-model="keywordStream">
        </div>
        <button ng-class="{ 'button-3d-disabled': grayedOut(), 'button-3d': !grayedOut() }" ng-disabled="grayedOut()" type="notSubmit" ng-click="requestTweetsByKeyword(keywordStream)">Get Matching DB Tweets</button>
        <button class="button-3d" type="notSubmit" ng-click="getRestTweets()">Get {{numTweetsToGet}} Tweets</button>
        <button class="button-3d" type="notSubmit" ng-click="startLiveStream()">Live Stream: {{receivingTweets}}</button>
      </form>
    </div>
  </div>


<!--   <div class="arrow-3d" id="leftarrow-3d">
    <button class="button-3d" id="left-3d"><span>&lt;</span></button>
  </div>
  <div class="arrow-3d" id="rightarrow-3d">
    <button class="button-3d" id="right-3d"><span>&gt;</span></button>
  </div> -->



  <div id="menu-3d">
    <button class="button-3d" id="flatten-3d">Flatten Layers</button>
    <button class="button-3d" id="separate-3d">Separate Layers</button>
  </div>
</div>