<div class="container about-container">
  
  <h1>Add a personalized keyword to our keywords list!</h1>

  <form stripe-form="stripeCallback" class="stripe-form">

    <div class="purchase-options">
      <div class="purchase-option">
        <h3>1 <br>keyword</h3>
        <h4>$2</h4>
      </div><!--
      --><div class="purchase-option">
        <h3>5 <br>keywords</h3>
        <h4>$8</h4>
      </div><!--
      --><div class="purchase-option ten-keywords">
        <h3>10 <br>keywords</h3>
        <h4>$15</h4>
      </div>
    </div>

    <input class="form-control stripe-input card-input" ng-model="number" placeholder="0000 0000 0000 0000" payments-format="card" payments-validate="card" />
    <input class="form-control stripe-input expiry-input" ng-model="expiry" placeholder="MM/YYYY" payments-format="expiry" payments-validate="expiry" />
    <input class="form-control stripe-input cvc-input" ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-format="cvc" />

    <button type="submit" class="btn btn-primary">secure checkout</button>

    <img src="assets/images/stripe-secure.png" alt="stripe-secure">
  </form>
  
</div>